<div class="pt-2 md-2 text-center" *ngIf="this.user !== null">
  <button class="btn btn-secondary" [routerLink]="['/add']" routerLinkActive="router-link-active"><i class="fa fa-plus"
      aria-hidden="true"> </i>
    Add Image</button>
  <div class="card container col-md-6 mt-2" *ngIf="this.userData !==undefined">
    <div class="card-body" *ngIf="userData.userProduct.length > 0">
      <span class="row" *ngFor="let userProduct of userData.userProduct">
        <span *ngIf="!userProduct.isDislike">
          <app-components [userProduct]=userProduct></app-components>
        </span>
      </span>
      <span class="row" *ngFor="let userProduct of userData.userProduct">
        <span *ngIf="userProduct.isDislike">
          <app-components [userProduct]=userProduct></app-components>
        </span>
      </span>
    </div>
  </div>
</div>
<div *ngIf="this.user === null" class="text-center">
  <div class="mt-4">Please Login First
  </div>
  <button class="btn btn-dark mt-2" (click)="login()">Login with Google</button>
</div>
